/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Common Site Variables */

$p-text-color: #777;
$theme-base: #DAB485;
$theme-base-light: #ECD8C0;
$theme-bg-dark: #131E26;
$theme-bg-dark-transparent: rgba(19, 30, 38, 0.75);
$theme-bg-dropdown: #313A41;
$theme-bg-light-1: #EAEAEA;
$theme-bg-light-2: #F6F6F6;
$theme-title-text: #000;

/* Entire Page Styles */

@font-face {
	font-family: 'gotham_boldregular';
	src: url(fonts/Gotham Bold Regular.ttf) format(truetype);
}

@font-face {
	font-family: 'gotham_lightregular';
	src: url(fonts/Gotham Light Regular.otf) format(truetype);
}

@font-face {
	font-family: 'gotham_bookregular';
	src: url(fonts/Gotham Book Regular.otf) format(truetype);
}

html {
	font-family: "gotham_lightregular", sans-serif;
}

::selection {
	background: $theme-base;
	color: #FFF;
}

body {
	font-family: "gotham_bookregular";
	font-size: 15px;
	line-height: 1.4;
	margin: 0;
}

.block {
	display: block;
}

.float-right {
	float: right;
}

.row {
	margin: 1em 0;
	width: 100% !important;
}

.text-caps {
	text-transform: uppercase;
}

a:active, a:hover {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	outline: 0;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

p {
	position: relative;
}

li, ul {
	display: block;
	list-style: none;
}

.bg-dark {
		background-color: $theme-bg-dark;
		margin: 0;
	}

.control-menu {
	height: 64px;
}

.text-center {
	align-text: center;
}

#wrapper {
	margin: 0;
	margin-top: -30px;
	padding: 0;
	top: 0;
}

p {
	color: $p-text-color;
}

.portlet-title-text {
	display: hidden;
}

section {
	left: 0;
	position: static;
	right: 0;
	width: 100%;
}

/* End Entire Page Styles */

/* Styles for Header */

#banner {
	background-color: $theme-bg-dark-transparent; /* Will be transparent and not transparent upon scroll later */
	font-family: "gotham_boldregular";
	height: 110px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 99;

	a {
		color: #FFF;
		font-size: 0.8em;
		text-align: center;
		text-transform: uppercase;
	}

	a:hover {
		color: $theme-base;
	}

	.site-name {
		font-size: 1.5em;
	}

	#jw-banner {
		margin: 0 auto;
		max-width: 992px;
		padding: 0;
		padding-top: 60px;
	}

	#navigation > ul {
		float: right;
	}

	#navigation > ul > li {
		display: inline-block;
		float: left;
		margin: 0 10px;
		position: relative;

		ul {
			display: none;
		}

		.child-menu {
			background: $theme-bg-dropdown;
			left: 0;
			margin-left: 0;
			padding: 0 15px 10px 15px;
			position: absolute;
			top: 20px;
			width: 220px;
			z-index: 200;

			li {
				padding-top: 10px;
			}
		}
	}

	#sign-in div {
		display: inherit;
		white-space: nowrap;
	}
}

.theme-container {
	margin: 0 5%;
}

#company-branding {
	display: inline-block;
}

#header .site-name a {
	color: #FFF;
	font-size: 1.33em;
	text-transform: uppercase;
}

#header .block-menu {
	display: inline-block;
	float: right;
	width: auto;
}

#header ul.menu {
	display: block;
	float: right;
	position: relative;
}

.link-fade {
	color: $theme-base;
}

.link-fade:hover {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	color: $theme-base-light;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.link-button {
	background-color: $theme-base;
	border-radius: 30px;
	color: #313432 !important;
	font-family: "gotham_boldregular";
	padding: 7px 15px;
}

.link-button:hover {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	background-color: $theme-base-light;
	transition: all 0.3s ease-out;
}

.jumbotron-picture {
	background-color: transparent;
	background-image: url(../images/mountains2.jpg);
	background-position-x: center;;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	top: 0;
	width: 100%;
}

.background-box {
	background-color: $theme-bg-dark-transparent;
	height: 700px;
	width: 100%;
	z-index: 0;
}

#content {
	position: static;
	top: 100px;
}

#highlights {
	color: #FFF;
	display: block;

	.content-desc {
		line-height: 2em;
		padding-bottom: 2em;
		padding-top: 2em;
	}

	.gallery {
		margin: auto;
		padding-top: 2em;

		ul {
			margin: 0 auto;
			padding: 0;
		}

		li {
			display: inline-block;
			padding: 1em 15px;
		}

		img {
			border-radius: 10px;
			height: auto;
			max-width: 200px;
		}

		a {
			color: #FFF;
			font-family: "gotham_boldregular";
			font-size: 1em;
			height: auto;
			margin-top: 5%;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 200px;
		}
	}
}

#breadcrumbs .portlet-content {
	background: transparent;
	border-width: 0;
	color: $theme-base;
	margin: 20% 20%;
	position: absolute;
	width: 320px;

	h2 {
		content: "";
		display: none;
	}

	.breadcrumb {
		background: transparent;
		list-style: none;
	}

	.breadcrumb li a {
		color: $theme-base;
		font-size: 1.5em;
	}

	.breadcrumb > .active {
		color: $theme-base;
		font-size: 1.5em;
	}
}

@media screen and (min-width: 400px) {
	.link-button {
		padding: 8px 20px;
	}
}

@media screen and (min-width: 650px) {
	.link-button {
		padding: 10px 25px;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.4em;
	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1.2em
	}

	p {
		font-size: 1em;
		line-height: 1.2;
	}

	.background-box {
		height: 300px;
	}
}

@media screen and (max-width: 991px) {
	#jw-nav-bar {
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		background: #FFF;
		bottom: 0;
		box-sizing: border-box;
		display: block !important;
		height: 100%;
		overflow-y: auto !important;
		padding: 20px 0;
		position: fixed;
		right: -250px; /*set to -250px when ready to hide */
		top: 0;
		transition: all 0.5s ease-in-out;
		width: 250px;
		z-index: 1000;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			border-bottom: 1px solid $p-text-color;
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding: 10px 0;
			width: 100%;
		}

		li:hover {
			background: $theme-bg-light-1;
		}

		a {
			color: $p-text-color;
			padding: 0 10px;
		}

		.selected {
			background: $theme-base-light;
		}

		a.jw-nav-bar-toggle-close {
			font-size: 3em;
			line-height: 0;
		}
	}

	.jw-nav-bar-toggle {
		background-color: transparent;
		border-radius: 0;
		border-width: 0;
		display: block;
		margin: 0 15px;
		padding: 0;
	}

	.toggle-icon-bar {
		background: $theme-base;
		border-radius: 1px;
		display: block;
		height: 2px;
		margin: 5px auto;
		width: 22px;
	}

	a.jw-nav-bar-toggle:focus {
		display: none;
	}

	a.jw-nav-bar-toggle {
		display: block;
	}

	#jw-nav-bar:target {
		right: 0;
	}
}

@media screen and (min-width: 992px) {
	#navigation ul li:hover .child-menu {
		background-color: $theme-bg-dropdown;
		display: block;
	}

	#navigation ul li:hover > a:before {
		width: 100%;
	}

	#navigation > ul > li > a:before {
		background-color: $theme-base;
		bottom: 0;
		content: "";
		height: 4px;
		left: 50%;
		margin: 0 auto;
		position: absolute;
		top: auto;
		transform: translate(-50%, -47px);
		transition: width 0.3s ease 0s;
		width: 0;
	}

	#navigation ul li:hover ul {
		display: block;
	}

	#navigation ul li.selected a:before {
		width: 100%;
	}

	.grid-left {
		text-align: right;
	}

	.grid-right {
		text-align: left;
	}

	.jw-nav-bar-toggle {
		display: none;
	}

	.link-button {
		padding: 15px 35px;
	}

	.theme-container {
		margin: 0 18%;
	}

	a.jw-nav-bar-toggle-close {
		display: none;
		visibility: hidden;
	}

	.portlet-content .theme-container {
		margin: 0 2%;
	}
}

/*	selector + sibling {
		style top or left side
	}

*/