/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

* {
	border: 1px solid red;
}

#banner {
	width: 100%;

}
#top-menu {
	background-color: rgba(19,30,38,0.85);
	left: 0;
	width: 100%;
	height: 100px;
	position: fixed;
	padding-top: 15px;
}

/* navbar classes should contain left and right elements. Left is logo/site name. right side is the menu bar. */
.header-bar {	
	position: center;
	color: white;
	width: 100%;
	padding-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.header-bar a:hover {
	color: #DAB485;
	text-decoration: none;
}

.navbar {
	
}

#company-title {
	display: inline-block;
	color: white;
}

#login {
	color: white;
	display: inline-block;
}

#menu {
	color: white;
	display: inline-block;

}

#menu h4 {
	display: inline-block;
}

#menu h4 a:hover {
}

.background-box {
	width: 100%;
	height: 800px;
}

.jumbotron-picture {
	background-image: url("images/mountains2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	margin: -50px -10px 0px -10px;
}